third_party/
datasets/
vis_examples/
CAT-Seg-OVRSIS-PI-V1/
logs/
outputs/
train_outputs/
outputs_analyze/
output_vitb_384_DLRSD/
output_vitb_384_iSAID/
output_vitl_336_DLRSD/
output_vitl_336_iSAID/
output_vitb_384_OVRSIS95K/
output_vitl_336_OVRSIS95K/
output_vitb_384_OVRSIS95K_seed42/
output_vitb_384_OVRSIS95K_seed42_copy/
output_eval_vitb_noise_1gpu/
output_eval_vitb_noise_1gpu_copy/
pretrained_weights/
*.pyc